@import "settings";

@function get-lighten-percentage($primary-color) {
    @return 6.5% * (lightness($primary-color) * .035);
}

@function get-darken-percentage($primary-color) {
    @return 6.45% * (lightness($primary-color) * .035);
}

@function get-text-color($base) {
    @if (lightness($base) > 50) {
        @return $dark-text-color;
    } @else {
        @return $light-text-color;
    }
}

@function get-separator-color($base) {
    @if (lightness($base) > 50) {
        @return lighten($base, 5%);
    } @else {
        @return darken($base, 5%);
    }
}

@function flat-background($primary-color: $light-primary-color) {
    @return $primary-color;
}

@function flat-shadow(
    $primary-color: $light-primary-color,
    $offset-modifier: 1,
    $shadow-spread: $spread,
    $shadow-offset: null,
    $shadow-alpha: 1) {

    $x-off: $x-offset;
    $y-off: $y-offset;

    @if $shadow-offset != null {
        $x-off: $shadow-offset;
        $y-off: $shadow-offset;
    }

    $lighten-percentage: get-lighten-percentage($primary-color);
    $darken-percentage: get-darken-percentage($primary-color);
    @return ($x-off * -1) * $offset-modifier ($y-off * -1) * $offset-modifier $shadow-spread 0 rgba(lighten($primary-color, $lighten-percentage), $shadow-alpha),
        $x-off * $offset-modifier $y-off * $offset-modifier $shadow-spread 0 rgba(darken($primary-color, $darken-percentage), $shadow-alpha);
}

@function concave-background($primary-color: $light-primary-color) {
    $lighten-percentage: get-lighten-percentage($primary-color);
    $darken-percentage: get-darken-percentage($primary-color);
    @return linear-gradient(145deg, darken($primary-color, $darken-percentage * .6), lighten($primary-color, $lighten-percentage * .6));
}

@function concave-shadow(
    $primary-color: $light-primary-color,
    $offset-modifier: 1,
    $shadow-spread: $spread,
    $shadow-offset: null,
    $shadow-alpha: 1) {
    @return flat-shadow($primary-color, $offset-modifier, $shadow-spread, $shadow-offset, $shadow-alpha);
}

@function convex-background($primary-color: $light-primary-color) {
    $lighten-percentage: get-lighten-percentage($primary-color);
    $darken-percentage: get-darken-percentage($primary-color);
    @return linear-gradient(145deg, lighten($primary-color, $lighten-percentage * .6), darken($primary-color, $darken-percentage * .6));
}

@function convex-shadow(
    $primary-color: $light-primary-color,
    $offset-modifier: 1,
    $shadow-spread: $spread,
    $shadow-offset: null,
    $shadow-alpha: 1) {
    @return flat-shadow($primary-color, $offset-modifier, $shadow-spread, $shadow-offset, $shadow-alpha);
}

@function pressed-background($primary-color: $light-primary-color) {
    @return flat-background($primary-color);
}

@function pressed-shadow(
    $primary-color: $light-primary-color,
    $offset-modifier: 1,
    $shadow-spread: $spread,
    $shadow-offset: null,
    $shadow-alpha: 1) {

    $x-off: $x-offset;
    $y-off: $y-offset;

    @if $shadow-offset != null {
        $x-off: $shadow-offset;
        $y-off: $shadow-offset;
    }

    $lighten-percentage: get-lighten-percentage($primary-color);
    $darken-percentage: get-darken-percentage($primary-color);
    @return inset ($x-off * -1) * $offset-modifier ($y-off * -1) * $offset-modifier $shadow-spread 0 rgba(lighten($primary-color, $lighten-percentage), $shadow-alpha),
            inset $x-off * $offset-modifier $y-off * $offset-modifier $shadow-spread 0 rgba(darken($primary-color, $darken-percentage), $shadow-alpha);
}