$light-primary-color: #F0F0F3;
$dark-primary-color: #424242;
$light-text-color: #FAFAFA;
$dark-text-color: #232323;

$x-offset: 1em;
$y-offset: 1em;
$spread: 1.5em;
$negative-x-offset: $x-offset * -1;
$negative-y-offset: $y-offset * -1;